<div class="main-content">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">История</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped" *ngIf="history.length != 0">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let row of history; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{row}}</td>
                        <th class="col-md-2">
                            <button class="btn btn-default btn-block" (click)="viewHistoryItem(i)">Просмотр</button>
                        </th>
                        <th class="col-md-2">
                            <button class="btn btn-default btn-block" (click)="deleteItemByName(row)">Удаление</button>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
