<div class="main-content">


    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Добавление нового стержня</h4>
                                </div>

                                <div class="content">
                                    <form ng-controller="add">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Длина стержня (L)</label>
                                                    <input type="number" min="0" class="form-control" placeholder="Введите число" name="size" [ngModel]="kernel.kernelSize" #size="ngModel">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Площадь поперечного сечения (A)</label>
                                                    <input type="number" min="0" class="form-control" placeholder="Введите число" name="crossSectionalArea" [ngModel]="kernel.crossSectionalArea" #crossSectionalArea="ngModel">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Модуль упругости (E)</label>
                                                    <input type="number" min="0" class="form-control" placeholder="Введите число" name="elasticModulus" [ngModel]="kernel.elasticModulus" #elasticModulus="ngModel">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Допускаемое напряжение (б)</label>
                                                    <input type="number" min="0" class="form-control" placeholder="Введите число" name="allowableStress" [ngModel]="kernel.allowableStress" #allowableStress="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label> Сосредоточенная нагрузка (F)</label>
                                                    <input type="number" class="form-control" placeholder="Номер узла равен номеру стержня" name="concentratedLoad" [ngModel]="kernel.concentratedLoad" #concentratedLoad="ngModel">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label> Погонная нагрузка (q)</label>
                                                    <input type="number" class="form-control" placeholder="(Опционально) введите погонное напряжение" name="linearVoltage" [ngModel]="kernel.linearVoltage" #linearVoltage="ngModel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pull-left">
                                                    <button class="btn btn-info btn-fill pull-left" (click)="resetKernel(size, crossSectionalArea, elasticModulus, allowableStress, concentratedLoad, linearVoltage)">Очистить</button>
                                            </div>
                                            <div class="col-md-6">

                                                <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="disableSave" (click)="addKernel(size, crossSectionalArea, elasticModulus, allowableStress, concentratedLoad, linearVoltage)">Сохранить</button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="header">
                                <h4 class="title">Стержни конструкции</h4>
                            </div>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped" *ngIf="tableData.kernels.length != 0">
                                <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr *ngFor="let row of tableData.kernels; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{row.kernelSize}}</td>
                                    <td>{{row.crossSectionalArea}}</td>
                                    <td>{{row.elasticModulus}}</td>
                                    <td>{{row.allowableStress}}</td>
                                    <td>{{row.concentratedLoad}}</td>
                                    <td>{{row.linearVoltage}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="container-fluid">
                                <div class="form-group col-md-8">
                                    <input type="text" class="form-control" placeholder="Введите название конструкции" name="name" [ngModel]="tableData.name" #name="ngModel">
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <input id="left" type="checkbox" (click)="setLeftSupport()" [checked]="tableData.leftSupport">
                                        <label for="left">
                                            опора слева
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <input id="right" type="checkbox" (click)="setRightSupport()" [checked]="tableData.rightSupport">
                                        <label for="right">
                                            опора справа
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="insertConstruction(name)">Сохранить в базу данных</button>
                        </div>
<!--                        <div class="col-md-3">-->
<!--                            <button class="btn btn-default btn-block" (click)="getLastConstruction()">Загрузить из базы данных</button>-->
<!--                        </div>-->
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="reset(name)">Очистить список</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-default btn-block" (click)="visual()">Визуализировать</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title" *ngIf="showVisualisation == true">Визуализация</h4>
                        </div>
                        <img id='picFleft' src="../../assets/img/grabL.png" style='display:none;'/>
                        <img id='picFright' src="../../assets/img/grabR.png"  style='display:none;'/>
                        <img id='picQleft' src="../../assets/img/fleft.png"  style='display:none;'/>
                        <img id='picQright' src="../../assets/img/fright.png"  style='display:none;'/>
                        <img id='picPright' src="../../assets/img/Pright.png"  style='display:none;'/>
                        <img id='picPleft' src="../../assets/img/Pleft.png"  style='display:none;'/>
                        <canvas id="canvas" height="0">

                        </canvas>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">История</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped" *ngIf="history.length != 0">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Название</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr *ngFor="let row of history; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{row}}</td>
                                    <th class="col-md-2">
                                        <button class="btn btn-default btn-block" (click)="viewHistoryItem(i, name)">Просмотр</button>
                                    </th>
                                    <th class="col-md-2">
                                        <button class="btn btn-default btn-block" (click)="deleteItemByName(row)">Удаление</button>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
